$very-dark-gray:#424242;
$dark-gray: #616161;
$medium-gray: #BDBDBD;
$light-gray: #E0E0E0;
$very-light-gray: #F5F5F5;



button[data-toggle="collapse"] {
  text-transform: uppercase;
  color: $very-dark-gray;
  font-size: 1.5rem;
  text-decoration: none;
  &:hover {
    color: $medium-gray;
    text-decoration: none;
  }
  &:focus {
    color: $very-dark-gray;
    text-decoration: none;
  }
}

.title {
  h6 {
    text-transform: uppercase;
    padding: 0;
    margin:0;
  }
  padding: 1rem 0.5rem;
  background-color: $light-gray;
}

.form-container {
  border: 1px solid $light-gray !important;
}

.forms {
  padding: 0.5rem 1rem;
}
