<div class="container">

  <div class="row">
    <div class="col">
      <div class="alert alert-info">
        <i class="fas fa-exclamation-triangle"></i>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, fuga sunt magnam ullam harum commodi.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>
        Cerere de inscriere la cresa online
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <div class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h3>Informatii despre copil</h3>
              </button>
            </div>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{> childInfo }}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <div class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                <h3>Adresa de email</h3>
              </button>
            </div>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              {{> email }}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <div class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                <h3>Infornatii despre familia cu doi parinti</h3>
              </button>
            </div>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              {{> mother-info }}
              <hr>
              {{> father-info }}
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <div class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              <h3>Infornatii despre familia monoparentala sau cu reprezentant legal</h3>
            </button>
          </div>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            {{> parent-info }}
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>

</div>