<div class="row">
  <div class="col">
    <div class="input-group flex-nowrap">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
      <input type="email" class="form-control" placeholder="email*" aria-label="email" aria-describedby="addon-wrapping">
    </div>
  </div>
</div>