{{!-- father name --}}
<div class="row">
  <div class="col">
    <p>
      Tata
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <input type="text" class="form-control" id="numeCopil" placeholder="Nume tata *">
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <input type="text" class="form-control" id="prenumeCopil" placeholder="Prenume tata *">
    </div>
  </div>
</div>

{{!-- father address --}}
<div class="row">
  <div class="col-lg-2 col-3">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fatherAddressType" id="fatherAddressType1" value="type1" checked>
      <label class="form-check-label" for="fatherAddressType1">
        Adresa de domiciliu
      </label>
    </div>
  </div>
  <div class="col">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="fatherAddressType" id="fatherAddressType2" value="type2">
      <label class="form-check-label" for="fatherAddressType2">
        Adresa de resedinta(viza)
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="localitatefather" placeholder="Localitate *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="stradafather" placeholder="Strada *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="numarfather" placeholder="Numar *">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="blocfather" placeholder="Bloc *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="etajfather" placeholder="Etaj *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="sectorfather" placeholder="Sector *">
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- contact father --}}
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="telefon-fix-father">
            <i class="fas fa-phone"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="telefon fix *" aria-label="telefonFixfather" aria-describedby="telefon-fix-father">
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="telefon-mobil-father">
            <i class="fas fa-mobile-alt"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="telefon mobil *" aria-label="telefonMobilfather"  aria-describedby="telefon-mobil-father">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="salariat-la-father">
            <i class="fas fa-briefcase"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="salariat la *" aria-label="salariatLafather" aria-describedby="salariat-la-father">
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="functia-father">
            <i class="fas fa-code-branch"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="functia *" aria-label="functiafather"  aria-describedby="functia-father">
      </div>
    </div>
  </div>
</div>