{{!-- mother name --}}
<div class="row">
  <div class="col">
    <p>
      Mama
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <input type="text" class="form-control" id="numeCopil" placeholder="Nume mama *">
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <input type="text" class="form-control" id="prenumeCopil" placeholder="Prenume mama *">
    </div>
  </div>
</div>

{{!-- mother address --}}
<div class="row">
  <div class="col-lg-2 col-3">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="motherAddressType" id="motherAddressType1" value="type1" checked>
      <label class="form-check-label" for="motherAddressType1">
        Adresa de domiciliu
      </label>
    </div>
  </div>
  <div class="col">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="motherAddressType" id="motherAddressType2" value="type2">
      <label class="form-check-label" for="motherAddressType2">
        Adresa de resedinta(viza)
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="localitateMother" placeholder="Localitate *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="stradaMother" placeholder="Strada *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="numarMother" placeholder="Numar *">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="blocMother" placeholder="Bloc *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="etajMother" placeholder="Etaj *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="sectorMother" placeholder="Sector *">
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- contact mother --}}
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="telefon-fix-mother">
            <i class="fas fa-phone"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="telefon fix *" aria-label="telefonFixMother" aria-describedby="telefon-fix-mother">
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="telefon-mobil-mother">
            <i class="fas fa-mobile-alt"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="telefon mobil *" aria-label="telefonMobilMother"  aria-describedby="telefon-mobil-mother">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="salariat-la-mother">
            <i class="fas fa-briefcase"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="salariat la *" aria-label="salariatLaMother" aria-describedby="salariat-la-mother">
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="functia-mother">
            <i class="fas fa-code-branch"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="functia *" aria-label="functiaMother"  aria-describedby="functia-mother">
      </div>
    </div>
  </div>
</div>