{{!-- parent name --}}
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" id="categorie" placeholder="Denumire categorie reprezentant legal *">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="numeParinte" placeholder="Nume *">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <input type="text" class="form-control" id="prenumeParinte" placeholder="Prenume *">
    </div>
  </div>
</div>

{{!-- parent address --}}
<div class="row">
  <div class="col-lg-2 col-3">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="parentAddressType" id="parentAddressType1" value="type1" checked>
      <label class="form-check-label" for="parentAddressType1">
        Adresa de domiciliu
      </label>
    </div>
  </div>
  <div class="col">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="parentAddressType" id="parentAddressType2" value="type2">
      <label class="form-check-label" for="parentAddressType2">
        Adresa de resedinta(viza)
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="localitateparent" placeholder="Localitate *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="stradaparent" placeholder="Strada *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="numarparent" placeholder="Numar *">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="blocparent" placeholder="Bloc *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="etajparent" placeholder="Etaj *">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="number" class="form-control" id="sectorparent" placeholder="Sector *">
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- contact parent --}}
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="telefon-fix-parent">
            <i class="fas fa-phone"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="telefon fix *" aria-label="telefonFixparent" aria-describedby="telefon-fix-parent">
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="telefon-mobil-parent">
            <i class="fas fa-mobile-alt"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="telefon mobil *" aria-label="telefonMobilparent"  aria-describedby="telefon-mobil-parent">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="salariat-la-parent">
            <i class="fas fa-briefcase"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="salariat la *" aria-label="salariatLaparent" aria-describedby="salariat-la-parent">
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="form-group">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="functia-parent">
            <i class="fas fa-code-branch"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="functia *" aria-label="functiaparent"  aria-describedby="functia-parent">
      </div>
    </div>
  </div>
</div>